.teclado {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #eee;
}

@key-margin: 0.25em;
@key-radius: 2px;

.vkey {
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    border-radius: @key-radius;
    margin: @key-margin;
    padding: 0.2em;
    font-family: monospace;
    min-width: 1.3em;
    min-height: 1em;
    text-align: center;
    line-height: 1.1;

    @colorLetter: white;

    color: @colorLetter;
    background-color: #222;

    @colorKeyBorder: #404040;
    @colorKeyA: #726b6b;
    @colorKeyB: #3b3b3b;
    @colorKeyC: #444;
    @colorKeyD: #333;

    border: solid thin @colorKeyBorder;
    box-shadow:
        inset  0 0  15px @colorKeyA,
               0 1px 0   @colorKeyB,
               0 2px 0   @colorKeyC,
               0 2px 3px @colorKeyD;

    &:hover, &:focus {
        box-shadow: inset  0 0  15px lighten(@colorKeyA, 10%),
                           0 1px 0   lighten(@colorKeyB, 10%),
                           0 2px 0   lighten(@colorKeyC, 10%),
                           0 2px 3px lighten(@colorKeyD, 10%);
        outline: inherit;
        color: @colorLetter;
        text-decoration: inherit;
    }

    &:active {
        transform: translateY(1px);
        box-shadow:
            inset 0 0  15px @colorKeyA,
                  0 1px 0   @colorKeyB;
    }

}

.vkey-group {
    display: inline-block;
    margin-left: @key-margin;
    margin-right: @key-margin;

    & .vkey {
        margin-left: 1px;
        margin-right: 0;
        border-radius: 0;

        &:first-child {
            border-top-left-radius: @key-radius;
            border-bottom-left-radius: @key-radius;
            margin-left: 0;
        }

        &:last-child {
            border-top-right-radius: @key-radius;
            border-bottom-right-radius: @key-radius;
        }
    }
}
